@import url(https://fonts.googleapis.com/css?family=Arizonia);
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
}
p {
    margin: 5px 0 10px 0;
}
html,
body {
    height: 100vh;
    position: relative;
    /* height:100%;
    margin:0; */
    background-color: rgba(2, 0, 36, 1);
    font-family: sans-serif;
    width: 100%;
    overflow: hidden;
}
#wrapper {
    position: relative;
    top: 0;
    min-height: 100%;
}
.jmk {
    font-size: 3em;
}
.head {
    background: rgb(5, 5, 68);
}

h1 {
    box-sizing: content-box;
    font-family: "Great Vibes", cursive;
    color: rgb(252, 216, 216);
    background: rgb(5, 5, 68);
    padding: 16px 16px 16px 48px;
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
    z-index: 200;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073,
            0 0 30px #e60073, 0 0 35px #e60073;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6,
            0 0 35px #ff4da6, 0 0 40px #ff4da6;
    }
}

#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: black;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}


@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

.navi {
    background-color: black;
}

.bg {
    position: relative;
    width: 100%;
    height: 100%;
}
.vorhang {
    position: absolute;
    left: -20%;
    background-size: 150vh;
    background-position: 50%;
    height: 1vh;
}

#lightCont {
    left: -50%;
    position: absolute;
    height: 100%;
    width: 100%;
}
.licht {
    position: absolute;
    /* height: 120%; */
    height: 100vh;
    width: 200%;
}
#grabenCont {
    left: -50%;
    position: absolute;
    height: 100%;
    width: 100%;
}
.graben {
    position: absolute;
    height: 100vh;
    width: 200%;
    background: linear-gradient(
        to top,
        rgba(255, 145, 0, 0.473) 10%,
        rgba(255, 0, 0, 0) 35%,
        rgba(255, 0, 0, 0) 90%,
        rgba(0, 0, 0, 0.808) 99%
    );
}
#dust {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    top: 19vh;
}
#particles-js {
    position: absolute;
    width: 120%;
    height: 120%;
    top: 15vh;
    margin-left: -10%;
    margin-top: -10%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 100;
}
.bioPeek {
    height: 100vh;
}
/* The animation code */
@keyframes slidepeek {
    from {
        right: -100px;
    }
    to {
        right: -3px;
    }
}
.portrait {
    position: absolute;
    right: -3px;
    width: 230px;
    object-fit: cover;
    z-index: 300;
    animation-name: slidepeek;
    animation-duration: 2s;
}
.about {
    padding-left: 5cm !important;
    display: flex;
    justify-content: center; /* align horizontal */
    top: 10%;
}
h5 {
    color: rgb(255, 255, 255);
    padding: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    height: 5cm;
    top: 5cm;
    display: flex;
    opacity: 0;
    align-items: center; /* align vertical */
    animation-name: textappear;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
@keyframes textappear {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

canvas {
    display: block;
    /* ;vertical-align: bottom */
}

.socialMediaIcons {
    position: relative;
    color: whitesmoke;
    padding: 0.5em;
    z-index: 100;
    bottom: 0cm;
    /* size: 150%; */
}
.lightswitch {
    color: rgb(255, 255, 255);
    padding-right: 16px;
    background-color: rgb(5, 5, 68);
    border: none;
    outline: none;
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
    z-index: 1000;
    padding: 20px;
    align-self: center;
}
.lightSwitchBtn {
    height: 32px;
    border: none;
    outline: none;
}
*:focus {
    outline: 0 !important;
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2em;
        padding: 16px;
    }
    h5 {
        font-size: 1em !important;
        padding: 8px;
    }
    .portrait {
        width: 170px;
    }
    .jmk {
        font-size: 2em;
    }
    .vorhang {
        left: -140%;
    }
    .about {
        padding-left: 0.5cm !important;
    }
}
@media screen and (min-width: 2100px) {
    .portrait {
        width: 340px;
    }
    .vorhang {
        left: -0%;
    }
}
